@using UPSTimeAPI.Models
@using System.Globalization

@model RatePackage

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Service Name
                </th>
                <th>
                    Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.timeResponse.ServiceSummary)
            {
                <tr>
                    <td>
                        @item.Service.Code
                        @item.Service.Description
                    </td>
                    <td>
                        @*@item.EstimatedArrival.Arrival.Date*@
                        @{ DateTime dt = DateTime.ParseExact(item.EstimatedArrival.Arrival.Date, "yyyyMMdd", CultureInfo.InvariantCulture);
                        }
                        @(dt.ToLongDateString())
                    </td>
                </tr>
                            }
        </tbody>
    </table>

</div>